.site-header img {
    float: left;
    width: 50px;
    height: 75px;
    background: #555;
    margin-top: 12px;
  }
  
  .site-header h1 {
    color: rgb(47, 79, 79);
    margin-bottom: 0 !important;
    padding-bottom: 4;
  }

  .site-header {
    display: inline;
    width: 100%;
    /* border-bottom: 2px solid #3c81be; */
    margin-bottom: 50px;
    padding-bottom: 20px;
    /* border-bottom: 2px solid #555; */
  }

  .site-header button {
      background-color: #3c81be;
      padding-bottom: 7px;
    }

