  .site-header img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }
  
  .site-header h1 {
    /* color: #3c81be; */
    color: #679871;

    margin-bottom: 0 !important;
    padding-bottom: 4;
  }

  .site-header {
    display: inline;
    width: 100%;
    /* border-bottom: 2px solid #3c81be; */
    margin-bottom: 50px;
    padding-bottom: 20px;
    /* border-bottom: 2px solid #555; */
    /* background-color: #9be5aa; */
  }

  .site-header button {
      /* background-color: #3c81be; */
      background-color: #679871;
      padding-bottom: 7px;
      border-color: #679871;
      
    }

    .btn:hover {
      background-color: #fff;
      color:#679871;
      border-color: #679871;
    }

    .site-header button :active {
      background-color: #fff;
      color: #679871;
    }

.btn.btn-primary:active:hover {
    border-color:#679871;
    background-color:#679871;
    color:#fff;
}