body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c81be;
  /* border: 2px lightslategray solid; */
  background-color: #ffff;
  padding: 10px;
  /* border-radius: 10px; */
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  /* background-color: #3c81be; */

}

table td, table th {
  color: #3c81be;
}

h4 {
  padding-top: 30px;
}

/* h4, table h4 {
  color: darkslategray;
  padding-top: 10px;
} */
