body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #3c81be; */
  /* color: #679871; */
  color:black;
  /* border: 2px lightslategray solid; */
  background-color: #ffff;
  padding: 10px;
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table td, table th {
  color:black
}

h4 {
  margin: 0;
  padding-top: 0px;
}

.er-volume {
  background-color: yellow !important;
}

.er-drug-col {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

.fluid-rate-rate {
  text-align: center;
}

tr {
  line-height: 20px;
  min-height: 400px;
  height: 40px;
}


table {
  margin-bottom: 40px;
}

td {
  border:1px lightgrey solid;
}

.table-head {
  background-color: #679871;
  border: #679871;
  border-radius: 8px 0px 8px 0px;
}

.table-head-container {
  border-radius: 8px 0px 8px 0px;
  border: #ffff 1px solid;
  border: #679871;
}

.table-head-container p {
  font-size: small;
}

th {
    font-weight: normal;
}

.table-head h4 {
  color:#ffff;
  padding-top: 0px;
}

.trailing-row {
  border: 0px;
}

.patient-information-row {
  padding-bottom: 20px;
}

#protocol-drug-vol {
  vertical-align: center;
}

#form-descriptions {
  padding-left: 7px;
  color:#ABABAB;
  text-decoration: italic;
  font-size:1em;
}

#drug-interactions-disclaimer {
  font-style: italic;
  padding-left: 15px;
  color: black;
}

#drug-interactions-additional-disclaimer {
  color:black;
}

/* .footer {
  padding-top: 30px;
} */

#protocol-instructions {
  font-style: italic;
  color:#ABABAB;
  font-size: 1em;
}

#drug-pair {
  margin: 30px;
  padding: 30px;
  /* background-color: #679871;
  border:#679871 solid 3px; */
  border-radius: 8px;
  color:#ffff;
}

#page-divider {
  border-top: #679871 solid 3px;
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
}

#fluid-rates-header {
  padding-bottom:15px;
}

#footer-text {
  color:black;
  font-size: .75em;
  /* padding-bottom: 20px; */
}

footer #page-divider {
 margin:0; 
}

sup {
  color: red;
}